# Dependencies
node_modules/

# Environment
.env
.env.local

# Cypress outputs
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Allure outputs
allure-results/
allure-report/

# Temporary reports
test-results/

# OS / editor
.DS_Store
.idea/
.vscode/
*.log